/* Nav */
.fond-beige {
    background-color: #f3ece3;
}

.fa-phone-alt {
    color: white;
    width: 30px;
}

/* Footer */
.tel-footer-gauche {
    width: 50px;
    height: 50px;
    background-color: orangered;
    border-radius: 25px;
    margin-left: 120px;
    margin-bottom: 20px;
}

/* Page index.php */
.je-commande {
    background-color: orangered;
    border-radius: 50px;
}


/* Jumbpttron - JE DÉCOUVRE */

.jumbotron {
    background-image: url("items/img-home.jpg");
}

.je-decouvre {
    background-color: orangered;
    border-radius: 50px;
    font-size: 12px;
}

h5 {
    color: orangered;
}

.card-text {
    font-weight: normal;
}

.imagehome {
    width: 450px;
}

.fond-bleu {
    background-color: rgb(214, 233, 255);
    padding: 70px;
}

.fa-quote-right, .prix {
    color: orangered;
}


/* Page bocaux.php */
.radius, .img-formule {
    border-radius: 40px;
}

.breadcrumb {
    background-color: #f3ece3;
}

.nav-radius {
    border: 1px solid black;
    border-radius: 20px;
}

/* Mentions légales */
#mention{
    width: 55%;
    margin: 30px auto;
}

/* Page bocal */
/* Présentation */
.img-presentation-bocal {
    border-radius: 60px;
}

.prix-presentation-bocal {
    font-size: x-large;
}

/* Page contact */
/* Avis */
#avis{
    width: 75%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.test{
    width: 60%;
    margin: auto;
}
/* Horaires */
#horaires{
    background-color: #e8f87c;
    text-align: center;
    padding: 30px 0;
}

.horaires{
    width: 200px;
    margin: auto;
}

.choix{
    background-color: #e8f87c;
    border: #e8f87c;
}

.pic{
    margin: auto;
}

#cartes{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

#geo{
    width: 75%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

#adresse{
    width: 30%;
}

#map{
    width: 70%;
}

#formulaire{
    width: 50%;
    margin: auto;
    text-align: center;
}

#coordonnees{
    display: flex;
    margin-top: 20px;
}

.contact{
    width: 48%;
}

.mailtel{
    width: 95%;
}

input, textarea{
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 15px;
}

.submit{
    background-color: orangered;
    color: white;
    border-radius: 50px;
    padding: 5px 15px;

}
